.nav {
	text-align: right;
}

.logout {
	line-height: 60px;
}

.real {
	padding-left: 5%;
}

.book-title {
	display: block;
	padding: 0 0 2%;
}

.name {
	font-size: .9em;
}

.small-text {
	font-size: .9em;
	display: block;
	padding: 2% 0 0;
}

.smaller-text {
	display: block;
	font-size: .75em;
	padding: 2% 0 5%;
}

.recent-book-review {
	padding-right: 5%;
}

.other-books {
	overflow: scroll;
	border:black 1px solid;
	height: 150px;
	width: 80%;
	padding: 1% 5%;
}

.other-books a {
	display: block;

}
.real {
	padding-left: 5%;
}

.book-title {
	display: block;
	padding: 0 0 2%;
}

.name {
	font-size: .9em;
}

.small-text {
	font-size: .9em;
	display: block;
	padding: 2% 0 0;
}

.smaller-text {
	display: block;
	font-size: .75em;
	padding: 2% 0 5%;
}

.recent-book-review {
	padding-right: 5%;
}

.other-books {
	overflow: scroll;
	border:black 1px solid;
	height: 150px;
	width: 80%;
	padding: 1% 5%;
}

.other-books a {
	display: block;

}